.stNavbar nav {
    background-color: #2C3A6B !important;
    height: 70px !important;
    display: flex !important;
    align-items: center !important;
}

.stNavbar div {
    max-width: 1500px !important;
    margin-left: 10px 2px !important;
    padding-left: 200px !important;
    width: 100% !important;
}

.stNavbar span {
    color: white !important;
    font-size: 16px !important;
    padding: 14px !important;
    background: rgba(255,255,255,0.05) !important;
    border-radius: 15px !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
}

.stNavbar .active {
    color: #2C3A6B !important;
    background: #F2C94C !important;
    transform: translateY(-1px) !important;
    letter-spacing: .5px !important;
}

.stNavbar img {
    height: 60px !important;
}